@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply flex-row justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300
    }
    .outline-[color] {
        @apply border border-[color]-500 text-[color]-500 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white
        hover:bg-[color]-600 focus:outline-none focus:shadow-outline
    }

    /*.outline input:focus-within ~ label,*/
    /*.outline input:not(:placeholder-shown) ~ label {*/
    /*    @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;*/
    /*}*/

    input:focus-within ~ label,
    input:not(:placeholder-shown) ~ label {
        @apply transform scale-75 -translate-y-1 z-0 ml-1 px-1 py-0;
        /*@apply transform scale-75 -translate-y-6;*/
    }
    input:placeholder-shown ~ label {
        @apply hidden;
        /*@apply transform scale-75 -translate-y-6;*/
    }

    select:not(:placeholder-shown) ~ label {
        @apply transform scale-75 -translate-y-1 z-0 ml-1 px-1 py-0;
        /*@apply transform scale-75 -translate-y-6;*/
    }

    /*input:focus-within ~ label {*/
    /*    @apply text-blue-500;*/
    /*}*/
}
